
:root {
  --primary-color: rgb(67, 70, 79);
  --second-color: rgb(58, 60, 68);
  --accent-color: rgb(79, 160, 140);
}

@font-face {
  font-family: 'burtonsregular';
  src: url('../src/assets/fonts/burtons-webfont.woff2') format('woff2'),
       url('../src/assets/fonts/burtons-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'burtonsregular', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


